<h1>Dashboard:</h1>

<div class="dashboard-container">
    <div class="recipe-form-container">
        <form method="post" action="recipes">
            <div>
                Title:<br />
                <input type="text" name="title" id="title" />
            </div>
            <div>
                Ingredients:<br />
                <input type="text" name="ingredients" id="ingredients" />
            </div>
            <div>
                Instructions:<br />
                <input type="text" name="instructions" id="instructions" />
            </div>
            <div>
                <input type="button" onClick="sendRecipe()" id="sendRecipeButton" value="Add" />
                <input type="button" onClick="deleteRecipe(0)" id="deleteButton" value="Delete" />
                <input type="button" onClick="clearForm()" id="clearButton" value="Clear" />
            </div>
        </form>
    </div>

    <div class="recent-recipes-container">
        <h2>Your Recipes</h2>
        <div id="recipeList">
            <ul class="people_list">
                {{#each recipes}}
                <li><a href='javascript:deleteRecipe({{id}})'>[X]</a> - <a href='javascript:getRecipe({{id}})'>{{title}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<script>
    let recipeId = 0;
    const title = document.getElementById("title");
    const ingredients = document.getElementById("ingredients");
    const instructions = document.getElementById("instructions");
    const recipeList = document.getElementById("recipeList");
    const buttonDelete = document.getElementById("deleteButton");
    const sendRecipeButton= document.getElementById("sendRecipeButton");
    const apiKey = "{{apiKey}}";
    console.log("API KEY:", apiKey);
    buttonDelete.disabled=true;
    let recipes;
    const sendRecipe = async () => {
        const data = {
            title: title.value,
            ingredients: ingredients.value,
            instructions: instructions.value
        }

        const method = recipeId === 0 ? "POST" : "PUT";
        const url = "/api/recipes" + (recipeId === 0 ? "" : "/" + recipeId);
        console.log(url);

        const resp = await fetch(url, {
            method: method,
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data)
        })
        const json = await resp.json();
        alert(json.message);
        if (json.status === 1) {
            recipes = json.recipes;
            renderRecipeList();
        }
        console.log("sendRecipe:", json);
    }
    const deleteRecipe = async (id) => {
        console.log("deleteRecipe:", id);
        if(id!==0)
        {
            recipeId=id;
        }
        if(recipeId===0)
        {
            return;
        }
        const resp = await fetch("/api/recipes/" + recipeId, { method: "DELETE",
            headers: {
                "Content-Type": "application/json",
            }
         });
        const data = await resp.json();
        recipes=data.recipes;

        console.log("Delete Recipe Response:", data);
        renderRecipeList();
        clearForm();
    }
    const getRecipe = async (id) => {
        const resp = await fetch("/api/recipes/" + id);
        const data = await resp.json();
        console.log("DATA:", data);
        recipeId = data.id;
        title.value = data.title;
        ingredients.value = data.ingredients;
        instructions.value = data.instructions;
        buttonDelete.disabled=false;
        sendRecipeButton.value="Save";
    }
    const renderRecipeList = () => {
        let list = '<ul class="people_list">';

        for (let r of recipes) {
            console.log(r);
            const li = `<li><a href='javascript:deleteRecipe(${r.id})'>[X]</a> - <a href='javascript:getRecipe(${r.id})'>${r.title}</a></li>`;
            list += li;
        }
        console.log(list)
        recipeList.innerHTML = list + "</ul>";
    }
    const clearForm = ()=>{
        sendRecipeButton.value="Add";
        buttonDelete.disabled=true;
        recipeId =0;
        title.value = "";
        ingredients.value = "";
        instructions.value ="";
    }
    let GV_API_RESULTS;
    const searchAPIrecipes = async ()=>{
        
        const query = document.getElementById("query").value;
        const url = `https://api.spoonacular.com/recipes/complexSearch?apiKey=${apiKey}&query=${query}`;
        console.log("URL",url);
        const resp = await fetch (url);
        const text = await resp.text();
        console.log("TEXT:", text);
        const json = JSON.parse(text);
        GV_API_RESULTS=json.results;
        console.log("JSON:", json.results);
        displayResults(GV_API_RESULTS);
    }
    function displayResults(results) {
        const container = document.querySelector('.container');
        const resultsContainer = document.createElement('div');
        resultsContainer.id = 'results';
        container.appendChild(resultsContainer);
        results.slice(0, 5).forEach(result => {
            const card = document.createElement('div');
            card.className = 'card';
            card.innerHTML = `
                <img src="${result.image}" alt="${result.title}">
                <h3>${result.title}</h3>
                <button onclick="openRecipe(${result.id})">View Recipe</button>
            `;
            resultsContainer.appendChild(card);
        });
    }
    function openRecipe(id)
    {
        window.open("/recipes/api/"+id);
    }
    const openRecipe1=async(id) =>{
        // ?apiKey=${apiKey}&
        const url = `https://api.spoonacular.com/recipes/${id}/information?apiKey=${apiKey}`;

        const resp = await fetch (url);
        const text = await resp.text();

        const json = JSON.parse(text);

        //window.location.href = `/recipe.html?id=${id}`;
    }

</script>

<!-- Recipe Search Form -->
<div class="search-form-container">
    
  
    <h1>Recipe Search</h1>
        <input type="text" name="query" id="query" placeholder="Search for a recipe ..." />
        <button type="submit" onClick="searchAPIrecipes()">Search</button>
      
    
</div>
<!-- Search Results/List of Recipes -->
<div class="container">
    <h1>Search Results</h1>
    
    <a href="/">Back to home</a>
</div>

<script>

/*
document.addEventListener("DOMContentLoaded", function() {
    const form = document.querySelector('form');
    form.addEventListener('submit', function(e) {
        e.preventDefault();
        const query = document.querySelector('input[name="query"]').value;
        searchRecipes(query);
    });
});
function searchRecipes(query) {
    const apiKey = 'My_API_Key';
    const url = `https://api.spoonacular.com/recipes/complexSearch?apiKey=${apiKey}&query=${query}`;
    fetch(url)
        .then(response => response.json())
        .then(data => displayResults(data.results))
        .catch(error => console.error('Error:', error));
}
*/






</script>

